<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.marianhello.bgloc.react">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <uses-feature android:name="android.hardware.location" android:required="false" />
  

  <application>
    <service
      android:name="com.marianhello.bgloc.sync.SyncService"
      android:process=":sync"
      android:exported="true">
      <intent-filter>
        <action android:name="android.content.SyncAdapter"/>
      </intent-filter>
      <meta-data
        android:name="android.content.SyncAdapter"
        android:resource="@xml/syncadapter"/>
    </service>

    <service
      android:name="com.marianhello.bgloc.sync.AuthenticatorService"
      android:exported="true">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>
      <meta-data
        android:name="android.accounts.AccountAuthenticator"
        android:resource="@xml/authenticator" />
    </service>

    <provider
      android:name="com.marianhello.bgloc.data.provider.LocationContentProvider"
      android:authorities="@string/mauron85_bgloc_content_authority"
      android:exported="false"
      android:syncable="true"/>

    <service
      android:name="com.marianhello.bgloc.service.LocationServiceImpl"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="location" />

    <service
      android:name="com.marianhello.bgloc.react.headless.HeadlessService"
      android:enabled="true"
      android:exported="false" />

    <receiver
      android:name="com.marianhello.bgloc.BootCompletedReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
